{% extends 'base.html' %}

{% block title %} Наш каталог {% endblock %}

{% block content %}
    {% for el in flowers %}
        <div align="center">
            <div>
                <h3> {{ el.name }}</h3>
                <img src="{{ el.image.url }}" width="350" height="500">
                <p>Состав: <b>{{ el.description }}</b> </p>
                <p>Цена: <b>{{ el.price }} BYN </b> </p>
                <form action="{% url 'addFlower' %}"><button class="btn btn-success">Заказать букет</button></form>
            </div>
        </div>
    {% endfor %}
<div align="center">
</div>
{% endblock %}